<div class="mag-tab" data-component="magtab">
  
  {{#if title}}
    <h2 class="mag-tab-title">{{title}}</h2>
  {{/if}}

  {{#if tabs}}
    <!-- Tab Navigation -->
    <div class="mag-tab-nav-wrapper">
      <div class="mag-tab-nav">
        {{#each tabs}}
          <button 
            class="mag-tab-button {{#if @first}}mag-tab-active{{/if}}" 
            data-category="{{category}}"
            data-index="{{@index}}"
          >
            {{label}}
          </button>
        {{/each}}
      </div>
    </div>

    <!-- Tab Content (Cards) -->
    {{#if cards}}
      <div class="mag-tab-content">
        {{#each tabs}}
          <div class="mag-tab-panel {{#if @first}}mag-tab-panel-active{{/if}}" data-category="{{category}}">
            <div class="mag-tab-grid">
              <!-- Cards will be filtered and rendered by JavaScript -->
            </div>
          </div>
        {{/each}}
      </div>
    {{/if}}
  {{/if}}

</div>
