<div class="badge-wrapper">
  {{#if isLink}}
    <a href="{{path}}" class="badge {{variant}}">
      {{label}}
    </a>
  {{else}}
    <span class="badge {{variant}}">
      {{label}}
    </span>
  {{/if}}
</div>