<div class="badge-wrapper badge-wrapper--{{variant}}">
  {{#if isLink}}
    <a href="{{path}}" class="badge">
      {{label}}
    </a>
  {{else}}
    <span class="badge">
      {{label}}
    </span>
  {{/if}}
</div>