<div
  class="avatar-wrapper avatar-wrapper--{{color}} avatar-wrapper--{{size}} avatar-wrapper--radius-{{radius}}{{#if isBordered}} avatar-wrapper--bordered{{/if}}{{#if isDisabled}} avatar-wrapper--disabled{{/if}}"
  data-name="{{name}}"
  data-src="{{src}}"
>
  {{#if src}}
    <img
      src="{{src}}"
      alt="{{alt}}"
      class="avatar avatar__image"
    />
  {{else}}
    <span class="avatar avatar__fallback" aria-label="{{alt}}"></span>
  {{/if}}
</div>
